set editing-mode vi
set keymap vi
set bell-style none

$if mode=vi
    set keymap vi-command
    "gg": beginning-of-history
    "G": end-of-history
    "/": reverse-search-history
    "db": backward-kill-word
    set keymap vi-insert
    "jj": vi-movement-mode
    "\C-N": previous-history
    "\C-n": next-history
    "\C-x\C-r": re-read-init-file
    "\e[A": history-search-backward
    "\e[B": history-search-forward
    "\eOA": history-search-backward
    "\eOB": history-search-forward
$endif
