[user]
	name = Joel Larsson
	email = tilljoel@gmail.com
[merge]
        tool = vimdiff
[alias]
        aa= !git add -u && git status
        c = commit -m
        pr = pull --rebase
        logf = log --name-status
        st = status
        ci = commit
        br = branch
        co = checkout
        df = diff
        lg = log -p
        who = shortlog -n -s --no-merges
        today = log --stat --since='1 Day Ago' --graph --pretty=oneline --abbrev-commit --date=relative
[core]
	editor = vim
[color]
	ui = true
