
# Popdevelop

:0:
* ^List-Id:.*contact.popdevelop.com
$MAIL/popdevelop-multi/

:0:
* ^List-Id:.*homies.popdevelop.com
$MAIL/popdevelop-multi/

:0:
* ^List-Id:.*admin.popdevelop.com
$MAIL/popdevelop-multi/

:0:
* ^List-Id:.*popdevelop.github.com
$MAIL/popdevelop-multi/

:0:
* ^List-Id:.*all.popdevelop.com
$MAIL/popdevelop-multi/

:0:
* ^To:.*mats@popdevelop.com
$MAIL/popdevelop-multi/

:0:
* ^To:.*joel@popdevelop.com
$MAIL/popdevelop-inbox/

:0:
* ^To:.*joel.larsson@popdevelop.com
$MAIL/popdevelop-inbox/

:0:
* ^To:.*@popdevelop.com
$MAIL/popdevelop-inbox/


# Popfaktura

:0:
* ^List-Id:.*beta.popfaktura.se
$MAIL/popfaktura-beta/

:0:
* ^List-Id:.*support.popfaktura.se
$MAIL/popfaktura-multi/

:0:
* ^List-Id:.*feedback.popfaktura.se
$MAIL/popfaktura-multi/

:0:
* ^List-Id:.*jobs.popfaktura.se
$MAIL/popfaktura-multi/

:0:
* ^To:.*admin@popfaktura.se
$MAIL/popfaktura-multi/

:0:
* ^To:.*joel@popfaktura.se
$MAIL/popfaktura-inbox/

:0:
* ^To:.*joel.larsson@popfaktura.se
$MAIL/popfaktura-inbox/

:0:
* ^To:.*@popfaktura.se
$MAIL/popfaktura-inbox/

# Popgiro

:0:
* ^List-Id:.*beta.popgiro.se
$MAIL/popgiro-beta/

:0:
* ^List-Id:.*support.popgiro.se
$MAIL/popgiro-multi/

:0:
* ^List-Id:.*feedback.popgiro.se
$MAIL/popgiro-multi/

:0:
* ^List-Id:.*jobs.popgiro.se
$MAIL/popgiro-multi/

:0:
* ^To:.*admin.popgiro.se
$MAIL/popgiro-multi/

:0:
* ^To:.*joel@popgiro.se
$MAIL/popgiro-inbox/

:0:
* ^To:.*joel.larsson@popgiro.se
$MAIL/popgiro-inbox/

:0:
* ^To:.*@popgiro.se
$MAIL/popgiro-inbox/


# Weskins

:0:
* ^List-Id:.*support.weskins.com
$MAIL/weskins-multi/

:0:
* ^List-Id:.*business.weskins.com
$MAIL/weskins-multi/

:0:
* ^To:.*admin@weskins.com
$MAIL/weskins-multi/

:0:
* ^To:.*joel@weskins.com
$MAIL/weskins-inbox/

:0:
* ^To:.*@weskins.com
$MAIL/weskins-inbox/


# Tilljoel

:0:
* ^To:.*tilljoel@gmail.com
$MAIL/tilljoel-inbox/



