:0:
* ^To:.*joel@popdevelop.com
$MAIL/inbox-popdevelop/

:0:
* ^To:.*joel.larsson@popdevelop.com
$MAIL/inbox-popdevelop/

:0:
* ^To:.*@popdevelop.com
$MAIL/inbox-popdevelop/

:0:
* ^To:.*tilljoel@gmail.com
$MAIL/inbox-tilljoel/

:0:
* ^To:.*joel@weskins.com
$MAIL/inbox-weskins/

:0:
* ^To:.*@weskins.com
$MAIL/inbox-weskins/


