* ^To:.*joel@popdevelop.com
:0:
$MAIL/inbox-popdevelop/

* ^To:.*joel.larsson@popdevelop.com
:0:
$MAIL/inbox-popdevelop/

* ^To:.*tilljoel@gmail.com
:0:
$MAIL/inbox-tilljoel/

* ^To:.*joel@weskins.com
:0:
$MAIL/inbox-weskins/

