:0
* ^From:.*info@trouble.se.axis.com
$MAIL/tickets/

:0
* ^Subject:.*Accepted:.*$
$MAIL/meetings/

:0
* ^Subject:.*Accepterat:.*$
$MAIL/meetings/

:0
* ^Subject:.*SAM;.*$
$MAIL/meetings/


:0
* ^Subject:.*Test\ status:.*$
{
  foldername=$MAIL/test_all

  :0c
  .$foldername/ # stores in .$foldername/new/

  :0
  * LASTFOLDER ?? /\/[^/]+$
  { tail=$MATCH }

  TRAP="mv $LASTFOLDER .$foldername/cur/$tail:2,S"

  HOST
}

#:0
#* ^Subject:.*Test\ status:.*$
#$MAIL/test_all/
