:0:
* ^To:.*forskningsavdelningen@kodapan.se
$MAIL/list/hack/

:0:
* ^To:.*mosig@list.hack.org
$MAIL/list/hack/

:0:
* ^To:.*gtug-malmo.googlegroups.com
$MAIL/list/groups/

:0:
* ^To:.*rails-se.googlegroups.com
$MAIL/list/groups/

:0:
* ^To:.*lean-startup-circle@googlegroups.com
$MAIL/list/groups/

:0:
* ^To:.*malmo-ruby@googlegroups.com
$MAIL/list/malmo-ruby/

:0:
* ^To:.*rubyparley@googlegroups.com
$MAIL/list/groups/

:0:
* ^To:.*copenhagen-ruby-user-group.googlegroups.com
$MAIL/list/groups/

