:0:
* ^To:.*forskningsavdelningen@kodapan.se
$MAIL/list/forskningsavd/

:0:
* ^To:.*mosig@list.hack.org
$MAIL/list/mosig/

:0:
* ^To:.*makten-oppenheten@googlegroups.com
$MAIL/list/makten_oppenheten/

