:0:
* ^List-Id:.*all.popdevelop.com
$MAIL/multi/

:0:
* ^List-Id:.*support.weskins.com
$MAIL/multi/

:0:
* ^List-Id:.*contact.popdevelop.com
$MAIL/multi/

:0:
* ^List-Id:.*homies.popdevelop.com
$MAIL/multi/

:0:
* ^List-Id:.*homies.popdevelop.com
$MAIL/multi/

:0:
* ^List-Id:.*admin.popdevelop.com
$MAIL/multi/

:0:
* ^List-Id:.*popdevelop.github.com
$MAIL/multi/


